{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "constructor-super": 1,
    "no-console": 0
  },
  "globals": {
    "describe": true,
    "it": true
  }
}