[include]

[ignore]
./[^(<%= config.rootPath %>|node_modules)]/.*

[libs]

[options]
module.name_mapper='^\([a-zA-Z].*\)$' -> '<PROJECT_ROOT>/<%= config.rootPath %>/\1'
module.name_mapper='.*\(.scss\)' -> 'empty/object'
module.file_ext=.js
module.file_ext=.scss
esproposal.decorators=ignore
