import { connect } from 'react-redux';

import reducer from './reducer';
import saga from './saga';
import * as actionCreators from './action-creators';
import * as getters from './getters';

function mapStateToProps(state) {
  return {};
}

function mapDispatchToProps(dispatch) {
  return {};
}

const <%= moduleName %> = connect(mapStateToProps, mapDispatchToProps);

export default <%= moduleName %>;

export {
  reducer,
  saga,
  actionCreators,
  getters
}
