import type { <%= moduleName %>Action } from './action-creators';
export type <%= moduleName %>State = {};

const initialState: <%= moduleName %>State = {};

function <%= lowerModuleName %>Reducer(
  state: <%= moduleName %>State = initialState,
  action: <%= moduleName %>Action
): <%= moduleName %>State {
  switch (action.type) {
    default:
      return state;
  }
}

export default <%= lowerModuleName %>Reducer;
