<div class="runtime-error">
  <%- locals.message %>
</div>

<style>
  .runtime-error {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 2.5em;
    background-color: rgba(255,0,0,0.75);
    font-size: 12px;
    line-height: 2.5em;
    text-align: center;
    color: rgba(255,255,255,0.95);
    font-family: Lucida Grande, sans-serif;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
  }
</style>
