/*
  Example:

  export function createLineItemStart(variantId, quantity) {
    return {
      type: 'CREATE_LINE_ITEM_START',
      variantId,
      quantity
    };
  }

  export function createLineItemSuccess(response) {
    return {
      type: 'CREATE_LINE_ITEM_SUCCESS',
      ...response
    };
  }
*/
