import <%= lowerModuleName %>Reducer from '../reducer';
import * as actionCreators from '../action-creators';

test('<%= moduleName %> reducer returns the initial state', () => {
  expect(
    <%= lowerModuleName %>Reducer(undefined, {})
  ).toEqual({});
});
