@import '../globals.scss';

.CompilationError {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  color: #333333;
  background-color: #fafafa;
  font-size: 1em;
  font-family: 'Fira Code', Menlo, Consolas, monospace;
  line-height: 1.2em;
  overflow: auto;

  @media screen and (max-width: 600px) {
    font-size: 0.8em;
  }

  @media (prefers-color-scheme: dark) {
    color: #ccc;
    background-color: $black;
  }
}

.CompilationError-heading {
  color: #b71c1c;
  font-size: 1.25em;
  background-color: #ffebee;
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: normal;
  padding: 1em $compilation-error-horizontal-padding;

  @media (prefers-color-scheme: dark) {
    color: $red;
    background-color: darken($red, 40%);
  }
}

.CompilationError-footer {
  background-color: #f4f4f4;
  padding: 1em $compilation-error-horizontal-padding;

  @media (prefers-color-scheme: dark) {
    background-color: transparent;
  }
}

.CompilationError-link {
  color: darken($white, 25%);
  text-decoration: none;
  transition: color 150ms;

  &:hover {
    color: darken($white, 35%);

    @media (prefers-color-scheme: dark) {
      color: darken($white, 15%);
    }
  }
}
