@import '../globals.scss';

.CompilationErrorMessage {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  padding: 0 $compilation-error-horizontal-padding;
  line-height: 1.75em;
}

.CompilationErrorMessage-location {
  font-size: 1.25em;
  margin-bottom: 1em;
}
