{
  "name": "catalyst-test",
  "version": "1.0.0",
  "description": "== README",
  "main": "index.js",
  "directories": {
    "test": "test"
  },
  "scripts": {
    "start": "catalyst server",
    "test": "jest",
    "test:watch": "npm test -- --watch",
    "build": "catalyst build"
  },
  "catalyst": {},
  "jest": {
    "modulePaths": ["app"],
    "testPathIgnorePatterns": [
      "<rootDir>/(node_modules)/"
    ]
  },
  "author": "",
  "license": "ISC",
  "devDependencies": {

  }
}
