// @flow

require('styles/application.scss');

/*
  Example:
  
  import App from 'components/app';

  window.Components = {
    App
  };
*/

if (process.env.NODE_ENV !== 'production') {
  window.Perf = require('react-addons-perf');
}
